body{
    background-color: rgb(51, 49, 49);
    font-family: 'Oswald', sans-serif;
   }
   .centrarImg {
	width:600px;
	height:400px;
	line-height:400px;
	margin:0px auto;
	text-align:center;
}
   .centrarImg img{
	vertical-align: center;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
}
h4{
    color: white;
}