@mixin linea {
    display: inline-block;
    text-align: center;
    padding: 25px;
}
.menu{
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgb(58, 56, 56);    
}
.menu li{
    @include linea;
}
.menu li a{
    @include linea;
}
.menu li a:hover{
    @include linea;
    background-color: black;
    border-radius: 10px;
}
